/* styles for all the chart pages */
#loading_cserv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 500;
}

#loading-image-cserv {
    z-index: 500;
}

html {
    height: 100%;
}

#wrapper {
    min-height: calc(100vh - 50px);
}

#map_nc {
    height: 300px;
    width: 300px;
}

#loading-image-nc {
    z-index: 500;
}

#loading_nc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 500;
}

#loading_cserv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 500;
}

#loading-image-sql {
    z-index: 500;
}