/* styles specific to map_fixedsize.html */
#map {
    width: 100%;
    height: 600px;
}

.legend-collapse {
    display: none;
}

#fixed_tab_container {
    top: 12vh;
    position: absolute;
    z-index: 400;
    right: 3vh;
    max-width: 75%;
}

#fixed_tab_list {
    font-size: smaller;
}

.tab-content {
    height: 30vh;
    overflow: auto;
}

#opacity_chirps, #opacity_esi {
    accent-color: #0c1a4e;
    background: #e3e6f0;
    width: 12vw;
    margin-bottom: 20px;
}

#basemaps, #layers {
    overflow-y: auto;
}

#location {
    padding-bottom: 20px;
}

#chirps_opacity, #esi_opacity {
    display: contents;
}

#legend_chirps img {
    background: black;
    width: fit-content;
    left: 10px;
}

#legend_esi img {
    background: white;
    width: fit-content;
    left: 10px;

}

#loading_fixed {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 500;
}

#loading-image-fixed {
    z-index: 500;
}

#layer-control-id-full {
    margin: 0px;
    padding: 0px;
    /*border: 1px solid gray;*/
    background: none;
    box-shadow: none;
    width: 20vh;
    font-size: small;
    position: absolute;
    display: contents;
}

.outer-tabs {
    padding-right: 0;
    padding-left: 10px;
}

.tab-pane#layers {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.map-thumb {
    float: left;
    position: relative;
    overflow: hidden;
    max-height: 300px;
    cursor: pointer;
    margin: 5px;
    max-width: calc(33% - 12px);
}

.img-thumbnail {
    width: 100%;
    height: auto;
    border: 0;
}

#legend_chirps {
    background: black;
    width: fit-content;
    /*left: 10px;*/
}

#legend_esi {
    /*margin-left: 10px;*/
}

#legends {
    /*width: 90%;*/
    margin: auto;

}

a:hover {
    text-decoration: none;
}

.legend-zeroheight {
    max-height: 0;
    overflow: hidden;
}