#map, #map2 {
    width: 100%;
    height: 600px;
}

#map3 {
    height: 90vh;
    z-index: 99;

}

#charts, #maps, #details {
    top: 30px;
    z-index: 20000;
}

#layer_manager, #layer_manager_gee {

    position: absolute;
    z-index: 400;
    right: 3vh;
    max-width: 75%;
}

.accordion-collapse.collapse.show {
    width: 50vh;
    height: 40vh;
    max-width: 100%;
}

#legends_gee svg {
    margin: 10px 5px 10px 0;
}

.arcgis-legend, .thredds-legend {
    width: 100px;
    height: 230px;
    font-size: 12px;
    color: #ffffff;
    background-color: #000000;
    display: inline-flex;
    margin: 10px 17px 10px 0;
}

.leaflet-top.leaflet-right {
    margin-right: 10px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    width: 34px;
}

.nav-tabs .nav-item .nav-link.active {
    color: #0080FF;
}

.nav-tabs .nav-item .nav-link {
    color: gray;
}

#opacity_chirps, #opacity_esi, #opacity_collection, #opacity_asset {
    accent-color: #0c1a4e;
    background: #e3e6f0;
    width: 12vw;
    margin-bottom: 20px;
}

.info_btn {
    color: gray;
}

/*#layer-control-id{*/
/*  margin: 0px;*/
/*  padding: 0px;*/
/*  border: 1px solid gray;*/
/*  background: white;*/
/*  box-shadow: none;*/
/*    width: 50vh;*/
/*}*/
#layer-control-id-full {
    margin: 0px;
    padding: 0px;
    border: 1px solid gray;
    background: none;
    box-shadow: none;
    width: 20vh;
    font-size: small;
    position: absolute;
    display: contents;
}

#layer-control-parent-id-full {
    padding: 0px;
}

#location_full {
    display: flow-root;
    padding: 0px;
}

#location {
    padding-bottom: 20px;
}

#basemaps, #basemaps_gee, #layers, #layers_gee {
    overflow-y: auto;
    /*height: 20vh;*/
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
    font-size: medium;
    color: black;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
    position: inherit;
    line-height: 2;
}

.accordion-body {
    /*height: 35vh;*/
    padding: 0;
}

.img-thumbnail {
    height: 100px;
    border: none;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: gray;
}

.accordion-button {
    color: gray;
}

p {
    color: gray;
}

.leaflet-control, .leaflet-control-geocoder-alternatives {
    width: 100%;
}


.leaflet-control-geocoder {
    width: 100%;
}

.leaflet-control-geocoder-form input {
    font-size: 100%;
}

#chirps_opacity, #esi_opacity, #collection_opacity, #asset_opacity {
    display: contents;
}

#legend_chirps, #legend_asset, #legend_coll {
    background: black;
    width: fit-content;
    left: 10px;
}

#legend_chirps img {
    background: black;
    width: fit-content;
    left: 10px;
}

#legend_esi img {
    background: white;
    width: fit-content;
    left: 10px;

}

#legend_chirps, #legend_esi {
    /*display: inline-flex;*/
    /*margin: 10px;*/
}

label {
    color: gray;
}

#legend_asset, #legend_coll {
    display: contents;

}

#loading, #loading_gee, #loading_fixed, #loading_full, #loading_nc, #loading_sql, #loading_cserv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 500;
}

#loading-image, #loading-image-gee, #loading-image-fixed, #loading-image-full, #loading-image-nc, #loading-image-cserv, #loading-image-sql {
    z-index: 500;
}
