#map,#map2{
    width:100%;
    height: 600px;
}

#map3{
    height:90vh;
    z-index: 99;

}
 #charts,#maps,#details{
  top:30px;
  z-index:20000;
}

 #layer_manager, #layer_manager_gee {
 width: 60vh;
  position: absolute;
  /*background: white;*/
 top:12vh;
  z-index: 400;
  right: 3vh;
     height: 40vh;
     /*overflow-y: scroll;*/

 }
  #layer_manager1{
       width: 60vh;
  }
.nav-tabs .nav-item .nav-link.active {
  color: #0080FF;
}
.nav-tabs .nav-item .nav-link {
  color: gray;
}

#opacity_chirps ,#opacity_esi,#opacity_collection,#opacity_asset{
accent-color:  #0c1a4e;
    background: #e3e6f0;
    width: 12vw;
}
.info_btn{
      color: gray;
}
#layer-control-id{
  margin: 0px;
  padding: 0px;
  border: 1px solid gray;
  background: white;
  box-shadow: none;
    width: 50vh;
}
#layer-control-id-full{
  margin: 0px;
  padding: 0px;
  border: 1px solid gray;
  background: none;
  box-shadow: none;
    width: 20vh;
    font-size: small;
    position: absolute;
    display: contents;
}
#layer-control-parent-id-full{
    padding: 0px;
}

#location_full{
    display: flow-root;
    padding: 0px;
}
#location{
    padding-bottom: 20px;
}
#basemaps{
     overflow-y: scroll;
    height: 20vh;
}
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
font-size: medium;
    color: black;
}
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
position: inherit;
    line-height: 2;
}
.accordion-body {
height: 35vh;
}
.img-thumbnail{
    height: 150px;
}