{% extends "WebApp/app_base.html" %}
{% load static %}

{% block title %}SERVIR AppTemplate - Home{% endblock %}
{% block script %}
    <!-- Highcharts-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

    <!-- Custom styles-->
    <script src="{% static '/js/utils.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/chart.css' %}">

{% endblock %}

{% block content %}
    <div class="container-fluid bg-gray-300">
        <div class="row d-flex justify-content-center">
            <!-- Chart from ClimateSERV API  -->
            <!-- After the geojson file is received by the 'selectFiles' <input> tag below, a call is made to ClimateSERV API, as in the static/chart_from_ClimateSERV.js file -->
            <div class="col-xl-12 col-lg-12 text-center mt-4">
                <hr>
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Chart</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <label class="d-block">Click on the 'Choose File' button below to upload a GeoJSON file of your
                            choice. The chart will be updated with the data from the GeoJSON file. </label>
                        <label
                                class="form-label" for="selectFiles"> <input type="file"
                                                                             class="form-control"
                                                                             id="selectFiles"/>
                        </label>


                        <div id="loading_cserv" style="display: none;">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <figure class="highcharts-figure">
                            <div id="chart-container2"></div>
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Description -->
            <!-- To update the description, edit the <div> with the class 'card-body' below -->
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">About ClimateSERV</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-left">
                            SERVIR has created a user-friendly, web-based tool -- ClimateSERV -- that provides three
                            important datasets together in one system to help decision-makers in SERVIR's data-sparse
                            regions
                            assess the evolving situation via holistic analysis of water and agriculture. Using
                            ClimateSERV, development practitioners, scientists/researchers, and government
                            decision-makers can readily
                            analyze historical rainfall for the past 30 years and compare it with the best available
                            forecasts for the next 180 days for their defined area of interest to improve the
                            understanding of, and
                            make improved decisions for, issues related to agriculture and water availability
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                        data-bs-target="#cservModal">
                    Learn how to modify this page
                </button>
            </div>
        </div>
        <br>
    </div>

    <script src="{% static '/js/chart_from_ClimateSERV.js' %}"></script>
    {% include 'WebApp/chart_from_ClimateSERV_about.html' %}

{% endblock %}


