{% extends "WebApp/app_base.html" %}
{% load static %}
{% block title %}SERVIR AppTemplate - Feedback{% endblock %}
{% block script %}
    <!-- Custom styles-->

    <!-- Custom scripts-->

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdpBjfXz9ETRiQnFgy4Y6eXKKQjwA1H6-c-qva_2VN_1vDQ6g/viewform?usp=sf_link"
                    width="640" height="949" frameborder="0" marginheight="0" marginwidth="0">Loading…
            </iframe>
        </div>
    </div>
{% endblock %}