{% extends "WebApp/app_base.html" %}
{% load static %}
{% block title %}SERVIR AppTemplate - Feedback{% endblock %}
{% block script %}
    <!-- Custom styles-->
    <style>
        {#    Override default content styles to format iframed form   #}
        .content {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            background-color: blue;
            overflow: hidden;
        }

        #content {
            display: flex;
            flex-direction: column;
        }

        .second-row {
            flex-grow: 1;
            border: none;
            margin: 0;
            padding: 0;
        }

    </style>
    <!-- Custom scripts-->

{% endblock %}

{% block content %}
    <!-- Feedback page -->
    <!-- The link in the src of <iframe> tag is a Google Forms link. Please create a form link and replace the src below to update the feedback form -->
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdpBjfXz9ETRiQnFgy4Y6eXKKQjwA1H6-c-qva_2VN_1vDQ6g/viewform?embedded=true"
            class="second-row">Loading…
    </iframe>

{% endblock %}