{% extends "WebApp/app_base.html" %}
{% load static %}

{% block title %}SERVIR AppTemplate - Home{% endblock %}
{% block script %}
    <!-- Custom styles-->

    <!-- Custom scripts-->

{% endblock %}


<!-- Begin Page Content -->
{% block content %}
    <div class="align-items-center justify-content-between" style="background: #e1e3e5">
        <div class="card">
            <div>
                <img
                        class="img-fluid"
                        src="{% static '/images/hero.jpg' %}"
                        style="height: 50vh;width: 100%;
    object-fit: cover;"
                        alt="Hero Image"
                >
                <div class="layer">
                </div>
                <div class="card-img-overlay">
                    <div class="text-center text-white">
                        <p style="padding-top:12vb;width:50%;margin:auto;font-size:3vb; font-family: Arial,serif; text-shadow: black 0.1em 0.1em 0.2em;">SERVIR
                            Geospatial Application Template 2022 </p>
                        <p style="padding-top:2vb;width:50%;margin:auto;font-size:1.5vb; font-family: Arial,serif; text-shadow: black 0.1em 0.1em 0.2em;">
                            This web application shows simple implementation of common user interface elements in
                            geospatial
                            information delivery. It is intended to be used as a starting point for building new
                            applications for specialized use cases.
                            This template app is created and maintanined by the SERVIR Science Coordination office</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="mt-4 form-outline">
                <input type="search" id="searchBox" class="form-control" placeholder="Search for the app here..."
                       aria-label="Search"/>
            </div>

            <!-- Page Heading -->
            <div class="row" style="display: flex;flex-flow:row wrap;justify-content:center;box-shadow: black">
                <div class="app-card mb-4" style="height: 30vh;width:40vh;">
                    <br>
                    <!-- Illustrations -->
                    <div class="card shadow mb-4 mr-4 h-100 img-thumbnail">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Map Fixed Size</h6>
                        </div>
                        <div class="card-body"
                             style="background: url({% static "images/cards/fixed.PNG" %});background-size: cover">
                            <div class="text-center">
                                <a href="{% url 'map_fixedSize' %}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-card mb-4" style="height: 30vh;width:40vh;">
                    <br>
                    <!-- Illustrations -->
                    <div class="card shadow mb-4 mr-4 h-100 img-thumbnail">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Map Fullscreen</h6>
                        </div>
                        <div class="card-body"
                             style="background: url({% static "images/cards/full.PNG" %});background-size: cover">
                            <div class="text-center">
                                <a href="{% url 'map_fullScreen' %}" class="stretched-link"></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-card mb-4" style="height: 30vh;width:40vh;">
                    <br>
                    <!-- Illustrations -->
                    <div class="card shadow mb-4  mr-4 h-100 img-thumbnail">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">GEE Map</h6>
                        </div>
                        <div class="card-body"
                             style="background: url({% static "images/cards/gee.PNG" %});background-size: cover">
                            <div class="text-center">
                                <a href="{% url 'map_fromGEE' %}" class="stretched-link"></a>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="app-card mb-4" style="height: 30vh;width:40vh;">
                    <br>
                    <!-- Illustrations -->
                    <div class="card shadow mb-4  mr-4 h-100 img-thumbnail">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Chart from NetCDF</h6>
                        </div>
                        <div class="card-body"
                             style="background: url({% static "images/cards/netcdf.PNG" %});background-size: contain;
                                     background-repeat: no-repeat;
                                     background-position: center;">
                            <div class="text-center">
                                <a href="{% url 'chart_fromNetcdf' %}" class="stretched-link"></a>

                            </div>

                        </div>
                    </div>
                </div>
                {#                </div>#}
                {#                <div class="row">#}
                <div class="app-card mb-4" style="height: 30vh;width:40vh;">
                    <br>
                    <!-- Illustrations -->
                    <div class="card shadow mb-4  mr-4 h-100 img-thumbnail">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Chart ClimateSERV</h6>
                        </div>
                        <div class="card-body"
                             style="background: url({% static "images/cards/cserv.PNG" %});background-size: contain;
                                     background-repeat: no-repeat;
                                     background-position: center;">
                            <div class="text-center">
                                <a href="{% url 'chart_climateserv' %}" class="stretched-link"></a>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="app-card mb-4" style="height: 30vh;width:40vh;">
                    <br>
                    <!-- Illustrations -->
                    <div class="card shadow mb-4   mr-4 h-100 img-thumbnail">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Chart Data Model</h6>
                        </div>
                        <div class="card-body"
                             style="background: url({% static "images/cards/dm.PNG" %});;background-size: contain;
                                     background-repeat: no-repeat;
                                     background-position: center;">
                            <div class="text-center">
                                <a href="{% url 'chart_sqlite' %}" class="stretched-link"></a>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="app-card" style="height: 30vh;width:40vh;">
                    <br>
                    <!-- Illustrations -->
                    <div class="card shadow mb-4  mr-4  h-100 img-thumbnail">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Update Data Model</h6>
                        </div>
                        <div class="card-body"
                             style="background: url({% static "images/cards/update_dm.PNG" %});background-size: cover">
                            <div class="text-center">
                                <a href="{% url 'updates' %}" class="stretched-link"></a>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">`
                    <div class="col-lg-12 mb-4">
                        <br>
                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                </div>
                                <p>This web application shows typical implementations of common user interface
                                    requirements
                                    in geospatial information delivery. You can customize this template according to
                                    your specific application workflow, combining different functions, such as
                                    displayign
                                    maps and charts in the same page, or eliminating unnecesary functions.</p>
                                <p>This template app is created and maintanined by the SERVIR Science Coordination
                                    office.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Modifying this page</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-left text-dark alert alert-info">
                                    <strong>templates/WebApp/home.html</strong> contains the HTML code to modify
                                    the text and graphics in this page.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of Main Content -->
    </div>
    <script src="{% static '/js/home.js' %}"></script>
{% endblock %}