{% load static %}
<link href="{% static '/css/basic.css' %}" rel="stylesheet">
{% load i18n account %}
{% block common_scripts %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% endblock %} {% block content %}
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Google Login -->
            <!-- This content is shown when the Login button is clicked on the navigation menu bar -->
            <div id="content">
                <div class="container col-md-12 text-center">
                    <h2 class="m-4">Geospatial App Authentication</h2>

                    <div class="well login-well mt-4">
                        <div class="socialaccount_ballot">
                            <ul class="socialaccount_providers">
                                {% load socialaccount %}
                                {% if user.is_authenticated %}
                                    <p>Welcome, {{ user.username }} !</p>
                                    <p><a href="/accounts/logout/">Log Out</a></p>
                                {% else %}
                                    <a href="{% provider_login_url 'google' %}">Login with Google account</a>
                                {% endif %}
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}