{% extends "WebApp/app_base.html" %}
{% load static %}
<!-- Instructions about setting up -->
<!-- This page has clear instructions to set up this Django app locally -->

{% block title %}SERVIR AppTemplate - Home{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Instructions</h1>
                <p>We are working on adding the instructions to set up the app</p>
            </div>
        </div>
    </div>
{% endblock %}