
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel = "icon" href ="{% static '/images/logo.png' %}" type = "image/png">
    <title>SERVIR AppTemplate</title>
    <!-- Custom fonts for this template-->
    <link href="{% static '/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- Bootstrap core JavaScript-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Custom styles for this template-->
<link href="{% static '/css/basic.css' %}" rel="stylesheet">
     <script src="{% static '/js/ajax_calls.js' %}"></script>

</head>
<body id="page-top">
 <div id="wrapper">
{% include "WebApp/common.html" %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                {% include "WebApp/topbar.html" %}

 <div class="container-fluid">

    <div class="row">


<form class="needs-validation" id="updateForm" onsubmit="test();">

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">Organization Id</label>
      <input type="text" class="form-control" id="orgId" placeholder="Enter Organization Id"  required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Organization Name</label>
      <input type="text" class="form-control" id="orgName" placeholder="Enter Organization Name" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>


  </div>

  <button id="update_record" class="btn btn-primary">Submit form</button>

</form>
<script src="{% static '/js/update_record.js' %}"></script>

    </div>
 </div>
            </div>
        </div>
 </div>
</body>
</html>